.traffic-container {
   display: grid;
   justify-content: center;
}
.traffic-div{
    width: fit-content;
    height: fit-content;
    border: 1px solid;
    padding: 20px;
    align-items: center;
    background-color: black;
    border-radius: 10px;
}
.traffic-light-div{
    padding: 10px;
}
.traffic-lights {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
}
.green{
    background: green;
}
.yellow{
    background: yellow;
}

.red{
    background:red;
}

.sec{
    font-weight: 600;
    color:white;
    align-items: center;
}
